/*
INDEX
	// Typography
	// Navigation
	//
*/
.center{
	margin-right: auto;
	margin-left: auto;
}

#surprise{
	padding: 1px;
	margin:100px 100px;
	position:absolute;
	z-index: 500;
}

#surprise img{
	display:none;
}

#surprise:hover img{
	display: block;
	position:absolute;
	width: 1000px;
}



/* TYPOGRAPHY */

.main a{
	color: rgb(42, 198, 255);
	font-weight: normal;
	text-decoration: none;
}

strong{
	font-weight: normal;
}
.main a:hover{
	color: #34282C;
}

body {
	font-family: 'Gill Sans', sans-serif;
	font-size: 14pt;
	font-weight: lighter;

}

h1, h2, h3, h4, h5, h6, .slogan{
	font-family: 'Gill Sans', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}



img {
	
	margin: 0px;
	padding: 0px;
	border: 0px;
	float: right;
	width: 100%;
	max-width: 100%;

}
img:hover {
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
}

#logo {
	font-family: "Verlag";
	text-transform: lowercase;
	padding: 0px 0px;
	display: inline-block;
}

/* NAVIGATION */

#navlogo{
	width: 200px;
	margin: 0px 20px;
}

nav {

	padding: 10px;
	margin: -10px;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: auto;
	background: rgb(42,198,255); 
	box-shadow: 0px 0px 14px rgba(0,0,0, 0.9););
}


nav ul {
	padding: 0 20px;
	margin: -10px;
	list-style: none;
	display: inline-table;
	font-family: "Gill Sans";
	text-transform: uppercase;
	font-size: 20px;
	float: right;
	border-radius: 5px;

}

nav ul li {
	float: left;
}
	nav ul li:hover {
		color: #34282C;
		
	}
		nav ul li a {
			display: block;
			padding: 25px 30px;
			color: white;
			text-decoration: none;

		}
		nav ul li:hover a {
			color: rgb(102, 0, 189);
		}
		nav ul li:hover > ul {
		display: block;
		}


nav ul ul {
	display: none;
	background: rgba(255, 255, 255, 0.9);
	padding: 0;
	position: absolute;
	top: 100%;
	width: auto;
	font-size: 20px;
	text-transform: capitalize;
}

	nav ul ul li {
		float: none; 
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				color: #34282C;
				font-weight: bolder;
			}

nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
}


.main {
	padding: 60px 0px 0px 0px;
	position: relative;
	background-color: none;
	/*background-image: url(http://www.pixeden.com/media/k2/galleries/112/004-subtle-light-pattern-background-texture.jpg);
	*/
	margin: 0 -10px 0 -10px;
}

.faqbg {
	background-image: url(../images/dark_purple.png);
	background-position: relative;
}


/* Forms */

#message {
	height: 60px;
}

.form_field {
	margin-bottom: 10px;
	font-family: "Gill Sans"; 
    font-weight: lighter;
    float: right;
    width: 300px;
}

.form_field label {
    display: block;
    float: left;
}

.text-field {
	border: 1px #aaa solid;
	border-radius: 5px;
	height: 20px;
	width: 200px;
	float:right;
}

.text-area {
	border: 1px #aaa solid;
	border-radius: 5px;
	height: 100px;
	width: 200px;
	float: right;
}

#submit {
	background-color: rgb(42,198,255);
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 20px;
    padding: 5px 15px;
	height: 40px;
	font-family: "Gill Sans";
	font-weight: lighter;
	text-transform: uppercase;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	
}

#send{
	background-color: rgb(42,198,255);
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 20px;
    padding: 5px 15px;
	height: 40px;
	font-family: "Gill Sans";
	font-weight: lighter;
	text-transform: uppercase;
	margin-right: auto;
	margin-left: auto;
	width:100px;
	margin-top: 10px;
}

#formsubmit {
	background-color: rgb(42,198,255);
	border: 0pt;
	border-radius: 5px;
	color: white;
	font-size: 20px;
    padding: 5px 10px;
	height: 100px;
	font-family: "Gill Sans";
	font-weight: lighter;
	text-transform: uppercase;
	width: 250px;
}

#submit:hover{
	background-color:#8ce0ff;
	font-weight:normal;
}

form{
	width:300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

form label:hover{
	font-weight: normal;
}


.imgcontainer {
	width: 70%;
	height: 500px;
	overflow: hidden;
	position: relative;
	display:inline-block;
	background-size: cover;
	float:left;

}

#aboutus{
	display:block;
	width: 685px;
	margin-right: auto;
	margin-left: auto;
	float: none;
	height: auto;

}

.announcecontainer {
	position: relative;
	display: inline-block;
	width:30%;
	height:500px;
	background-color: #ccf498;
	float:left;

}

.parallax {
	height: 560px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	min-height: 560px;
}

.parallax article{
 	position: absolute; 
 	text-align: center; 
 	top: 60px; 
 	width: 100%; 
 	z-index: 50;
}

#contactbox{
	width: 300px;
	height: 320px;
	margin-right: auto;
	margin-left: auto;
	float: none;
}

/* PAGES */

#home { 
 	background: url('../images/bg1.jpg') 50% 0 repeat fixed;
 	background-size: cover;
 	height: 100%;
}
 
#programs{
	background: url('../images/dark_purple.png') 50% 0 repeat fixed;
}

#about { 
 	background: url('../images/light_green.png') 50% 0 repeat fixed;

 	height: 650px;
}

#hi {
	background: url('../images/day.jpg') 50% 0 repeat fixed;

	background-size: cover;
}

#sponsors { 
	background: url('../images/light_grey.png') 50% 0 repeat fixed;
	height: 600px;
}

#end { 
	background: url('../images/dark_purple.png') 50% 0 repeat fixed;;
	background-size: cover;

}


#contact { 
 	background: url('../images/light_green.png') 50% 0 repeat fixed;
}

#day { 
	background: url('../images/blue_snow-01.png') 50% 0 repeat fixed;
}


#overnight { 
	background: url('../images/light_purple.png') 50% 0 repeat fixed;

}

#explorasian { 

	background: url('../images/light_grey.png') 50% 0 repeat fixed;
}


#staff { 
	background-color: purple;
	height: 850px;
}

#faq { 
 	background: url('../images/bg1.jpg') 50% 0 repeat fixed;
 	background-size: cover;
 	height: 100%;
 	background-position: fixed;
}
 

.color {
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
 	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	z-index: -5;
}


#texture{
	width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    background:transparent url(../images/light_grey.png) center repeat;
    opacity:0.6;
    z-index: -4;
}

/* CONTAINERS */

article div{
	display: inline-block;
}

.programdiv{
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}
.overlay {
	width: 20%;
	background: rgba(255,255,255,0.7);
	height: 360px;
	padding: 10px 30px;
	margin: 30px;
	float: right;
	border-radius: 10px;
}

.programcontainer {
	width: 300px;
	background: rgba(255,255,255,0.5);
	padding: 10px 30px;
	margin: 0px 30px 0px 30px;
	border-radius: 10px;
	float:left;
}
.programcontainer p{
	text-align:left;
}
.programcontainer p strong{

}

.description{
	font-size: 18px;
}

#announcements {
	overflow: auto;
}

.faqcontainer{
	width: 80%;
	background: rgba(255,255,255,0.8);
	padding: 10px 30px;
	margin: 50px auto;
	border-radius: 10px;
	display: block;
}

/* PROGRAMS */

#pnavhead {
	color: white;
	font-size: 30px;
}

#pnavhead:hover {
	color: rgb(42,198,255);

}


.pnav {
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	margin-top: 100px;
}

.pnav ul {
	list-style: none;
	overflow: hidden;
	position: relative;

}
	.pnav ul li {
		float: left; margin: 0 20px 0 0;
	}
		.pnav ul li a {
			display: block; width: 120px; height: 120px;
			border-radius: 5px;
			background-image: url(icons.png); background-repeat: no-repeat;
		}
			.pnav ul li:nth-child(1) a {
				background-color: #66CC00;
				background-position: 28px 28px;
			}
			.pnav ul li:nth-child(2) a {
				background-color: #FFFF00;
				background-position: 28px -96px;
			}
			.pnav ul li:nth-child(3) a {
				background-color: #ffa659;
				background-position: 28px -222px;
			}
			.pnav ul li:nth-child(4) a {
				background-color: #F52887;
				background-position: 28px -342px;
			}
		
				.pnav ul li a span {
					font: 70px "Gill Sans", sans-serif;
					text-transform: uppercase; 
					position: absolute; left: 600px; top: 29px;
					display: none;
				}
					.pnav ul li a:hover span {
						display: block;
					}
				
				.pnav ul li:nth-child(1) a span {
					color: #5bb2fc;
				}
				.pnav ul li:nth-child(2) a span {
					color: #ffff00;
				}
				.pnav ul li:nth-child(3) a span {
					color: #ffa659;
				}
				.pnav ul li:nth-child(4) a span {
					color: #F52887;
				}
 


 /* Sponsors */

.sponsortable {
 	width: 800px;
 	margin-right: auto;
 	margin-left: auto;
 }

 .sponsorimg{
 	width: 200px;
 	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
 }

 td {
 	padding: 10px;
 }

#programs td{
	padding: 0px;
}

 #sponsors a{
 	text-decoration: none;
 	color: black;
 	font-weight:lighter;
 }
 #sponsors a:hover{
 	color: rgb(42, 198, 255);
 }
 
#pup {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
  width: 250px;
  border-radius: 5px;
  background-color: #777;
  color: white;
  font-size: 0.95em;
}


 /* Image Slider */
.flexslider{

}

.tprograms{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.tprograms tr{
}


/* FAQ */
table #faqtable{
	width: 100%;
	margin: 0px 0px;
}

.header td{
	text-align: center;
}

.questions td p{
	font-size: 12pt;
}
.questions td p:hover{
	background-color: rgba(42,188, 255, 0.5);
	border-radius: 5px;
	padding:10px;
}
.questions td strong{
	font-size: 12pt;
	color: purple;
	font-weight: normal;
}
.questions td{
	vertical-align: top;
	color: black;
}

.faqcontainer td{
	width:33%;
}

.questions h3{
	text-transform: none;
}


/* ACCORDIAN */

.ia-container {
	width: 685px;
	margin: 20px auto;
	overflow: hidden;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.08);
	border: 7px solid rgba(255,255,255,0.6);
	border-radius: 5px;
}

.ia-container figure {
    position: absolute;
	top: 0;
	left: 50px; /* width of visible piece */
	width: 335px;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.6);
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ia-container > figure {
    position: relative;
	left: 0 !important;
}

.ia-container img {
	display: block;
	width: 100%;
}

.ia-container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px; /* just cover visible part */
	height: 100%;
	cursor: pointer;
	border: 0;
	padding: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
	z-index: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.ia-container input:checked{
	width: 5px;
	left: auto;
	right: 0px;
}
.ia-container input:checked ~ figure {
	-webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
	left: 335px;
}

.ia-container figcaption {
	width: 100%;
	height: 100%;
	background: rgba(87, 73, 81, 0.1);
	position: absolute;
	top: 0px;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ia-container figcaption span {
	position: absolute;
	top: 40%;
	margin-top: -30px;
	right: 0px;
	left: 0px;
	overflow: hidden;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	line-height: 20px;
	font-size: 18px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: normal;
	padding: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 

.ia-container input:checked + figcaption,
.ia-container input:checked:hover + figcaption{
	background: rgba(87, 73, 81, 0);
}

.ia-container input:checked + figcaption span {
	-webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
	opacity: 1;
	
	top: 80%;
}

.ia-container #ia-selector-last:checked + figcaption span {
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.ia-container input:hover + figcaption {
	background: rgba(87, 73, 81, 0.03);
}

.ia-container input:checked ~ figure input{
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .ia-container { 
		width: 540px; 
	}
	
	.ia-container figure { 
		left: 40px; 
		width: 260px; 
	}
	
	.ia-container input { 
		width: 40px; 
	}
	
	.ia-container input:checked ~ figure { 
		left: 260px; 
	}
	
	.ia-container figcaption span { 
		font-size: 16px; 
	}
}

@media screen and (max-width: 520px) {
    .ia-container { 
		width: 320px; 
	}
	
	.ia-container figure { 
		left: 20px; 
		width: 180px; 
	}
	
	.ia-container input { 
		width: 20px; 
	}
	
	.ia-container input:checked ~ figure { 
		left: 180px; 
	}
	
	.ia-container figcaption span { 
		font-size: 12px; 
		letter-spacing: 2px; 
		padding: 10px; 
		margin-top: -20px; 
	} 

}

#programtable{
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}


/* COMMITTEE */

#committee{
	width: 500px;
	text-align: left;
}